<body>
  <!-- Sidenav -->
  <% include ../partials/sidebar %>
  <!-- Main content -->
  <div class="main-content">
    <!-- Top navbar -->
    <% include ../partials/navbar %>
    <!-- Header -->
    <% include ../partials/header %>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <form action="/crawl-results" method="GET" id="get-crawl-result">
              <div class="card-header bg-transparent">
                <h1 class="text-white mb-0">Sales value</h1>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label text-white mb-0" for="input-name">実行日</label>
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input class="form-control datepicker" name="crawl_created_at" placeholder="Select date" type="text" value="<%= query.crawl_created_at %>" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-control-label text-white mb-0" for="input-name">ホテル名</label>
                          <select class="custom-select crawl-results-hotel-id" name="hotel_id" form="get-crawl-result">
                            <% hotelData.forEach(hotel => { %>
                              <% if (hotel.id == query.hotel_id) { %>
                                <option value="<%= hotel.id %>" selected><%= hotel.id %>. <%= hotel.name %></option>
                              <% } else { %>
                                <option value="<%= hotel.id %>"><%= hotel.id %>. <%= hotel.name %></option>
                              <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-control-label text-white mb-0" for="input-name">部屋タイプ</label>
                          <select class="custom-select crawl-results-hotel-room-type-id" name="hotel_room_type_id" form="get-crawl-result">
                            <% hotelData.forEach(hotel => { %>
                              <option class="hotel_id-<%= hotel.id %>" value="" style="display:none">全て</option>
                              <% hotel.hotel_room_types.forEach(hotelRoomType => { %>
                                <% if (hotelRoomType.data.id == query.hotel_room_type_id) { %>
                                  <option class="hotel_id-<%= hotelRoomType.data.hotel_id %>" value="<%= hotelRoomType.data.id %>" style="display:none" selected><%= hotelRoomType.data.id %>. <%= hotelRoomType.data.name %></option>
                                <% } else { %>
                                  <option class="hotel_id-<%= hotelRoomType.data.hotel_id %>" value="<%= hotelRoomType.data.id %>" style="display:none"><%= hotelRoomType.data.id %>. <%= hotelRoomType.data.name %></option>
                                <% } %>
                              <% }) %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label class="form-control-label text-white mb-0" for="input-name">サイト</label>
                          <select class="custom-select" name="site_id" form="get-crawl-result">
                            <% siteData.forEach(site => { %>
                              <% if(site.id == query.site_id) { %>
                                <option value="<%= site.id %>" selected><%= site.id %>. <%= site.name %></option>
                              <% } else { %>
                                <option value="<%= site.id %>"><%= site.id %>. <%= site.name %></option>
                              <% } %>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label class="form-control-label text-white mb-0" for="input-name">From ~ To</label>
                      <div class="row">
                        <div class="input-daterange datepicker row align-items-center">
                          <div class="col">
                            <div class="form-group">
                              <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                </div>
                                <input class="form-control" name="start_date" placeholder="Start date" type="text" value="<%= query.start_date %>" autocomplete="off">
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                </div>
                                <input class="form-control" name="end_date" placeholder="End date" type="text" value="<%= query.end_date %>" autocomplete="off">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 text-center">
                          <button class="btn btn-primary mt-4 mb-4">検索</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <ul class="nav nav-pills justify-content-end">
                      <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='' data-prefix="¥" data-suffix="k">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </form>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas" data-init='{"data":{"datasets":<%= JSON.stringify(crawlResults)%>,"labels":<%= JSON.stringify(initData.map((init) => moment(init.date).format("YYYY-MM-DD")))%>}}'></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <% include ../partials/footer %>
    </div>
  </div>
  <!-- Include scripts -->
  <% include ../partials/scripts %>
</body>

